[submodule "app/src/main/cpp/teslameter_3mhx-cdi"]
	path = app/src/main/cpp/teslameter_3mhx-cdi
	url = https://bitbucket.org/netico-dev/teslameter_3mhx-cdi.git
[submodule "app/src/main/cpp/rtcomm"]
	path = app/src/main/cpp/rtcomm
	url = https://github.com/netico-solutions/rtcomm.git
	branch = teslameter_3mhx
